In [1]:
from bs4 import BeautifulSoup
from tqdm import tqdm
import datetime
import re
import requests
import pandas as pd

In [2]:
# Класс и атрибут класса возвращающий список с данными с сайта
class Get_list_of_items:
    def __init__(self,types,cl,response):
        self.types,self.cl= types,cl
        self.html = BeautifulSoup(response.content, "html.parser")
    def lst(self):
        items = self.html.find_all(self.types, self.cl)
        lst = [i.text for i in items]
        return lst

def validate(date_text):
    try:
        datetime.datetime.strptime(date_text, '%B %d, %Y')
    except ValueError:
        raise TypeError('not a date')
def parse_games():
    df = pd.DataFrame(columns=['title','score','platform','date','summary'])
    for page in tqdm(range(200)):
        url = f'https://www.metacritic.com/browse/games/score/metascore/all/all/filtered?page={page}'
        response = requests.get(url,headers={'user-agent': 'My app'})
        html = BeautifulSoup(response.content, "html.parser")
        if response.status_code != 200:
            raise TypeError('Response not 200')
        # Получаем список названий
        titles = Get_list_of_items('a', 'title',response)
        lst_titles = titles.lst()
        # Получаем список оценок
        score_wraper = html.find_all('div', class_ = 'clamp-metascore')
        lst_scores = [i.find('div', ['metascore_w large game positive','metascore_w large game mixed','metascore_w large game negative']).text for i in score_wraper]
        # Получаем список платформ
        platforms_row = html.find_all('div', class_ = 'platform')
        lst_platforms = [i.find('span', class_ = 'data').text.replace("\n", "").strip() for i in platforms_row if i.find('span', class_ = 'data') != None]
        # Получаем список дат
        dates = Get_list_of_items('div', 'clamp-details',response)
        lst_dates = [re.search('(?<=\\n\\n)([\w]+[\s]+[\d]+[\,]+[\s][\d]+)', i)[0] for i in dates.lst()]
        next(map(validate, lst_dates))
        # Получаем список описания
        summary = Get_list_of_items('div', 'summary',response)
        lst_summary = [i.replace("\n", "").strip() for i in summary.lst()]
        lst_summary = [re.sub('\[(.*?)\]','', i).strip() for i in lst_summary]
        df1 = pd.DataFrame({'title': lst_titles, 
                            'score': lst_scores, 'platform':lst_platforms,'date':lst_dates,'summary':lst_summary})
        df =pd.concat([df, df1])
    return df.reset_index(drop=True)
def parse_movies():
    df = pd.DataFrame(columns=['title','score','date','summary'])
    for page in tqdm(range(153)):
        url = f'https://www.metacritic.com/browse/movies/score/metascore/all/filtered?sort=desc&page={page}'
        response = requests.get(url,headers={'user-agent': 'My app'})
        html = BeautifulSoup(response.content, "html.parser")
        if response.status_code != 200:
            raise TypeError('Response not 200')
        # Получаем список названий
        titles = Get_list_of_items('a', 'title',response)
        lst_titles = titles.lst()
        # Получаем список оценок
        score_wraper = html.find_all('div', class_ = 'clamp-metascore')
        lst_scores = [i.find('div', ['metascore_w large movie positive perfect','metascore_w large movie positive', 'metascore_w large movie negative','metascore_w large movie mixed']).text for i in score_wraper]
        # Получаем список дат
        dates = Get_list_of_items('div', 'clamp-details',response)
        lst_dates = [re.search('(?<=\\n)\S(.*?)(?=\\n)', i)[0] for i in dates.lst()]
        next(map(validate, lst_dates))
        # Получаем список описания
        summary = Get_list_of_items('div', 'summary',response)
        lst_summary = [i.replace("\n", "").strip() for i in summary.lst()]
        lst_summary = [re.sub('\[(.*?)\]','', i).strip() for i in lst_summary]
        df = pd.DataFrame({'title': lst_titles, 
                            'score': lst_scores,
                            'date':lst_dates,
                            'summary':lst_summary})
        df =pd.concat([df, df1])
    return df.reset_index(drop=True)

In [12]:
df = parse_games()

100%|████████████████████████████████████████████████████████████████████████████████| 200/200 [18:47<00:00,  5.64s/it]

In [13]:
df.to_csv('movies_dataset.csv',index=False)

,title,score,platform,date,summary
0,The Legend of Zelda: Ocarina of Time,99,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ..."
1,Tony Hawk's Pro Skater 2,98,PlayStation,"September 20, 2000",As most major publishers' development efforts ...
2,Grand Theft Auto IV,98,PlayStation 3,"April 29, 2008",What does the American Dream mean today? For N...
3,SoulCalibur,98,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi..."
4,Grand Theft Auto IV,98,Xbox 360,"April 29, 2008",What does the American Dream mean today? For N...
...,...,...,...,...,...
19992,Vroom in the Night Sky,17,Switch,"April 5, 2017",Vroom in the night sky is a magical bike actio...
19993,Leisure Suit Larry: Box Office Bust,17,PlayStation 3,"May 5, 2009",The Leisure Suit Larry: Box Office Bust video ...
19994,Yaris,17,Xbox 360,"October 10, 2007",Hop into a Toyota Yaris and drive it on crazy ...
19995,Ride to Hell: Retribution,16,PC,"June 24, 2013",The game is set in the last years of the roari...
19996,Family Party: 30 Great Games Obstacle Arcade,11,Wii U,"December 4, 2012",Family Party: 30 Great Games Obstacle Arcade b...

In [3]:
df = parse_movies()
df.to_csv('movies_dataset.csv',index=False)

100%|████████████████████████████████████████████████████████████████████████████████| 153/153 [11:03<00:00,  4.33s/it]

,title,score,date,summary
0,Tokyo Story,100,"March 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...
1,The Godfather,100,"March 24, 1972",Francis Ford Coppola's epic features Marlon Br...
2,Citizen Kane,100,"September 4, 1941","Following the death of a publishing tycoon, ne..."
3,Rear Window,100,"September 1, 1954",A wheelchair-bound photographer spies on his n...
4,Casablanca,100,"January 23, 1943","A Casablanca, Morocco casino owner in 1941 she..."
...,...,...,...,...
15295,Baby Geniuses,6,"March 12, 1999",Two doctors (Turner and Lloyd) set out to domi...
15296,National Lampoon's Gold Diggers,6,"September 17, 2004",National Lampoon breaks new comedic ground as ...
15297,The Human Centipede III (Final Sequence),5,"May 22, 2015","Prison warden Bill Boss (Dieter Laser), leadin..."
15298,Vulgar,5,"April 26, 2002","The misadventures of Will, a struggling profes..."
15299,Strippers,5,"December 8, 2000",Alan is having an horrendous day...he loses hi...