In [1]:
from sqlalchemy import create_engine
from Settings import postgresql as settings
from sqlalchemy import text

In [10]:
db_string = "postgresql://postgres:Blade007@localhost:5432/The Movies Dataset"
db = create_engine(db_string)
with db.connect() as conn:
    query = "SELECT title FROM movies;"  
    result = conn.execute(text(query))
    for i in result:
        print(i[0])

Tokyo Story
The Godfather
Citizen Kane
Rear Window
Casablanca
Boyhood
Three Colors: Red
Vertigo
Notorious
Singing in the Rain
Playtime
City Lights
Moonlight
American Graffiti
Intolerance
Pinocchio
Touch of Evil
Seven Samurai
The Wild Bunch
Au hasard Balthazar
Dumbo
The Lady Vanishes
The Treasure of the Sierra Madre
Pan’s Labyrinth
Some Like It Hot
North by Northwest
The Rules of the Game
Roma
Hoop Dreams
Rashomon
All About Eve
Jules and Jim
My Left Foot
The Third Man
Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
Quo Vadis, Aida?
Psycho
Gone with the Wind
4 Months, 3 Weeks and 2 Days
Battleship Potemkin
A Streetcar Named Desire
The Maltese Falcon
Man with a Movie Camera
Parasite
Spirited Away
Toy Story
Ran
Summer of Soul (...Or, When the Revolution Could Not Be Televised),
The Shop Around the Corner
12 Angry Men
Rosemary’s Baby
12 Years a Slave
Manchester by the Sea
Killer of Sheep

In [ ]:
def get_engine(user,password,host,port,db):
    url = f"postgresql://{user}:{password}@{host}:{port}/{db}"